<h1>Metropolitan Museum of Art Sliding Puzzle</h1>
  <div id="slider">
    <form>

      <label>Welcome! Please choose an exhibit: </label>
      <select id="exhibit">
  <option value="tugra">Tugra</option>
  <option value="washstand">Washstand</option>
  <option value="statuette">Statuette</option>
  <option value="bottle">Bottle</option>
  <option value="armor">Armor</option>
</select>
<!--      <label>Easy</label>
      <input type="range" id="scale" value="4" min="3" max="5" step="1">
      <label>Hard</label>  -->
    </form>
    <br>
  </div>
  <div id="main" class="main">
    <canvas id="puzzle" width="480px" height="480px"></canvas>
  </div>
  <h3 id="name"></h3>
  <p>Date: <span id="date"></span></p>
  <p>Medium: <span id="medium"></span></p>
  <br>
  <br>
  <p>Thanks to the Metropolitan Museum of Art for making these and 350,000 more images of their exhibits available to the public for free!</p>