<h1>Welcome to my slidey puzzle</h1>
  <div id="slider">
    <form>
      <label>Please choose an exhibit!:</label>
      <select>
  <option value="tugra">Tugra</option>
  <option value="washstand">Washstand</option>
  <option value="statuette">Statuette</option>
  <option value="bottle">Bottle</option>
  <option value="armor">Armor</option>
</select>
<!--      <label>Easy</label>
      <input type="range" id="scale" value="4" min="3" max="5" step="1">
      <label>Hard</label>  -->
    </form>
    <br>
  </div>
  <div id="main" class="main">
    <canvas id="puzzle" width="480px" height="480px"></canvas>
  </div>
