<h1>Welcome to my slidey puzzle</h1>
  <div id="slider">
    <form>
      <label>Easy</label>
      <input type="range" id="scale" value="4" min="3" max="5" step="1">
      <label>Hard</label>
    </form>
    <br>
  </div>
  <div id="staging">
    <canvas id="staging_canvas"></canvas>
  </div>

  <div id="main" class="main">
    <canvas id="puzzle" width="480px" height="480px"></canvas>
  </div>

<img src="http://images.metmuseum.org/CRDImages/ad/original/DT163.jpg" style="max-height:500px">